<!DOCTYPE html>
<html ng-app="app" ng-controller="applicationController">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="/#/">Posts</a></li>
            <li><a href="/#/register">Register</a></li>
            <li><a href="/#/login">Login</a></li>
        </ul>
        <p ng-if="currentUser" class="navbar-text navbar-right">
            Signed in as {{ currentUser.username }}
        </p>
    </div>
</div>
<div ng-view class="container"></div>
<script src="/app.js"></script>
</body>
</html>